<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "A Sneak Peek at The Internet" %> &ndash; Wossname Industries</title>

    <!-- Meta -->
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <%= stylesheet_link_tag :site %>
  </head>

  <body class="header-fixed boxed-layout container <%= page_classes %>">
    <!-- Google Tag Manager -->
    <noscript>
      <iframe src="//www.googletagmanager.com/ns.html?id=GTM-KZS2C4" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                                                   new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                                                     j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                                                       '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-KZS2C4');
    </script>
    <!-- End Google Tag Manager -->

    <div class="wrapper">
      <%= partial 'header' %>

      <%= yield %>

      <%= partial 'footer' %>
    </div>

    <!-- JS Global Compulsory -->
    <script type="text/javascript" src="/assets/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/jquery/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- JS Implementing Plugins -->
    <script type="text/javascript" src="/assets/plugins/back-to-top.js"></script>
    <script type="text/javascript" src="/assets/plugins/smoothScroll.js"></script>
    <script type="text/javascript" src="/assets/plugins/layer-slider/layerslider/js/greensock.js"></script>
    <script type="text/javascript" src="/assets/plugins/layer-slider/layerslider/js/layerslider.transitions.js"></script>
    <script type="text/javascript" src="/assets/plugins/layer-slider/layerslider/js/layerslider.kreaturamedia.jquery.js"></script>
    <!-- JS Customization -->
    <script type="text/javascript" src="/assets/js/custom.js"></script>
    <!-- JS Page Level -->
    <script type="text/javascript" src="/assets/js/app.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/layer-slider.js"></script>
    <script type="text/javascript">
      jQuery(document).ready(function() {
        App.init();
        LayerSlider.initLayerSlider();
      });
    </script>
    <!--[if lt IE 9]>
    <script src="/assets/plugins/respond.js"></script>
    <script src="/assets/plugins/html5shiv.js"></script>
    <script src="/assets/plugins/placeholder-IE-fixes.js"></script>
    <![endif]-->

    <!-- For Background Image -->
    <script type="text/javascript" src="/assets/plugins/backstretch/jquery.backstretch.min.js"></script>
    <script type="text/javascript">
      $.backstretch([
        "/images/bg.jpg"
      ])
    </script>
    <!-- End For Background Image -->

    <%= javascript_include_tag :all %>
  </body>
</html>
