<div class="footer-v1">
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3 md-margin-bottom-40">
          <% utm_link_to 'https://woss.name/', content: 'footer logo' do %>
            <img id="logo-footer" class="footer-logo" src="<%= image_path('logo.png') %>">
          <% end %>
          <p>
            A Sneak Peek at The Internet is a project of
            <%= utm_link_to 'Wossname Industries', 'http://woss.name/' %>.
            We’re exploring tools &amp; technologies that will allow people to
            measure, manage &amp; improve their mental wellbeing. We’re
            performing experiments that allow us to better understand ourselves
            and our surrounding environment, so that we can figure out what
            makes us truly happy.
          </p>

          <p>
            Go check us out, and sign up!
          </p>
        </div>

        <div class="col-md-3 md-margin-bottom-40">
          <div class="posts">
            <div class="headline"><h2>Latest Posts</h2></div>

            <p>
              I write on a whole manner of subjects, not just about how the
              Internet works. You can see some of my latest posts here. Please
              do follow and/or subscribe to
              <a href="https://blog.woss.name/">Wossname Industries</a> on
              Medium if you'd like to read more. Seeing that people are
              interested is what motivates me to continue writing!
            </p>

            <ul class="list-unstyled latest-list">
              <% data.all_posts.each do |id, post| %>
                <li>
                  <h3><%= link_to post.title, post.url %></h3>
                  <small><%= post.date %></small>
                  <p>
                    <%= post.description %>
                  </p>
                </li>
              <% end %>
            </ul>
          </div>
        </div>

        <div class="col-md-3 md-margin-bottom-40">
          <div class="headline"><h2>Other Projects</h2></div>

          <p>
            I've always got a handful of projects &ndash; at various stages
            of incompletion! &ndash; on the go at any one time. Here are some
            of the ones I'm playing with just now:
          </p>

          <ul class="list-unstyled link-list">
            <% data.other_projects.each do |id, project| %>
              <li>
                <%= utm_link_to project.title, project.url %>
                <i class="fa fa-angle-right"></i>
              </li>
            <% end %>
          </ul>
        </div>

        <div class="col-md-3 map-img md-margin-bottom-40">
          <div class="headline"><h2>Contact Us</h2></div>
          <address class="md-margin-bottom-40">
            <strong>Wossname Industries</strong> <br />
            11 Alexandra Terrace <br />
            Teignmouth <br />
            Devon. TQ14 8HA. <br />
            United Kingdom
          </address>

          <p>
            Phone: <a href="tel:+44-7949-077744">+44 (0)7949 077744</a> <br />
            Email: <%= mail_to_link subject: 'A Sneak Peek at The Internet' %>,
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <p>
            Copyright &copy; 2016 <%= utm_link_to 'Wossname Industries', 'https://woss.name/' %>. All Rights Reserved.
            <a href="/privacy-policy/">Privacy Policy</a> | <a href="#">Terms of Service</a>
          </p>
        </div>

        <div class="col-md-4">
          <ul class="footer-socials list-inline">
            <li>
              <a href="https://facebook.com/wossname-industries" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="https://plus.google.com/+WossnameIndustries" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus">
                <i class="fa fa-google-plus"></i>
              </a>
            </li>
            <li>
              <a href="https://linkedin.com/in/mathie" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/wossname" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
