<% content_for :navbar do %>
  <li><%= link_to 'Presentations', '', fragment: 'presentations' %></li>
<% end %>

<section id="presentations" class="row" style="padding-top:70px">
  <div class="col-md-10 col-md-offset-1">
    <div class="headline">
      <h2>Presentations</h2>
    </div>

    <p class="lead">
      I've been taking the ideas around this topic out and about a bit, doing talks
      at conferences and local user groups. If you'd like me to come along to your
      event, please do get in touch! I'm always more than happy to get out the
      house and talk about the inner workings of the Interwebs.
    </p>

    <div class="row">
      <% data.presentations.each do |id, presentation| %>
        <div class="col-sm-6">
          <div class="thumbnails thumbnail-style thumbnail-kenburn">
            <div class="thumbnail-img">
              <div class="overflow-hidden">
                <img class="img-responsive" src="<%= image_path(presentation.image) %>" alt="" />
              </div>
              <%= link_to 'read more +', presentation.url, class: 'btn-more hover-effect' %>
            </div>

            <div class="caption">
              <h3>
                <%= link_to presentation.title, presentation.url, class: 'hover-effect' %>
                <small>
                  <%= presentation.date %>
                  &ndash;
                  <%= presentation.location %>
                  [ <%= link_to 'slides', presentation.slides, style: 'font-size: 100%; color #777' %> ]
                </small>
              </h3>

              <%= presentation.description %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
