---
title: A Sneak Peek at The Internet
---
<% content_for :navbar do %>
  <li><%= link_to 'Home', '/' %></li>
<% end %>

<%= partial 'slides' %>

<div class="container content">
  <%= partial 'about' %>
  <%= partial 'outline' %>
  <%= partial 'mailing_list' %>
  <%= partial 'articles' %>
  <%= partial 'presentations' %>
  <%= partial 'contact' %>
</div>
