---
title: A Sneak Peek at The Internet
---
<%= partial 'header' %>
<%= partial 'slides' %>

<div class="container content">
  <%= partial 'about' %>
  <%= partial 'outline' %>
  <%= partial 'mailing_list' %>
  <%= partial 'articles' %>
  <%= partial 'presentations' %>
  <%= partial 'contact' %>
</div>

<%= partial 'footer' %>
